{% extends 'base.html' %}


{% block title %}
<h2>Home</h2>
{% endblock %}

{% block content %}


<div class="row">
  <form action="{% url 'reviews:search' %}" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</div>
<div class="row">
  <div class="col-sm-6">

<a href="{% url 'reviews:review_list' %}" class="btn btn-default btn-lg" role="button">Read Reviews</a>
<p>{{review_count}} <br># of reviews</p>
</div>
<div class="col-sm-6">
<a href="{% url 'reviews:landlord_list' %}" class="btn btn-default btn-lg" role="button">Rate Your Landlord</a>
<p>{{landlord_count}} <br># of landlords</p>

</div>
</div>




{% endblock %}
