{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>Landlord list</h2>
{% endblock %}

{% block content %}

<div class="col-sm-6">
  <div class="row">
{% if landlord_list %}
    {% for landlord in landlord_list %}
        <h4><a href="{% url 'reviews:landlord_detail' landlord.id %}">
        {{ landlord.name }}
      </a></h4>
        <h5>{%if landlord.review_set.count > 0 %}{{ landlord.review_set.count }} reviews | Average rating: {{ landlord.average_rating | floatformat }} {% else %} No rating {% endif %}</h5>
    {% endfor %}
  </div>
{% else %}
    <p>No landlords are available.</p>
{% endif %}
</div>

<div class="col-sm-6">
<h3>Don't see your landlord, add it here </h3>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action = "{% url 'reviews:add_landlord'%}" method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Add Landlord</button>
</form>
</div>

{% endblock %}
