{% extends 'base.html' %}

{% block title %}
<h2>Latest reviews</h2>
{% endblock %}

{% block content %}
{% if latest_review_list %}
{% for review in latest_review_list %}
<div class="col-sm-6">
  <div class="row">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><a href="{% url 'reviews:landlord_detail' review.landlord.id %}">{{review.landlord}}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted">rated {{review.rating}} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a> on {{review.pub_date}}</h6>
        <p class="card-text">
          <strong>Address:</strong> {{review.address}}<br>
          <strong>Apartment Condition?</strong> {{review.apt_condition}}<br>
          <strong>Rent again?</strong> {{review.rent_again}}<br>
          <strong>Maintenance Efficiency:</strong> {{review.maintenance_eff}}<br>
          <strong>Communication:</strong> {{review.communication}}</p>

          <p class="card-text"><strong>Comment:</strong> {{ review.comment }}  </div>
          </div>
        </div>

        <hr />
      </div>
      {% endfor %}
      {% else %}
      <p>No reviews are available.</p>
      {% endif %}
      {% endblock %}
